{{ define "main" }}

<div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="text-center">
        <p class="text-9xl font-extrabold text-gray-700 dark:text-gray-300">404</p>
        <h1 class="mt-4 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">
            Halaman Tidak Ditemukan
        </h1>
        <p class="mt-6 text-lg leading-7 text-gray-600 dark:text-gray-400">
            Kami minta maaf, tetapi kami tidak dapat menemukan halaman yang Anda cari.
            Mungkin Anda salah mengetik alamat, atau halaman tersebut telah dipindahkan.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{{ .Site.BaseURL }}" 
               class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                Kembali ke Beranda
            </a>
            
            <a href="/tools/" class="text-sm font-semibold text-gray-900 dark:text-white">
                Cek Semua Tools <span aria-hidden="true">&rarr;</span>
            </a>
        </div>
    </div>
</div>

{{ end }}